.App {
  text-align: center;
  align-items: center;
}

.Header-logo {
  width: 600px;
  margin: 20px;
}

nav {
  padding-top: 25px;
  padding-bottom: 25px;
}

a {
  color: white;
  font-size: 25px;
  padding: 5px 25px;
  background-color: #0e3b43;
  border: solid 1.5px black;
  text-decoration: none;
  border-radius: 50px;
  margin: 20px;
}

.removeHamsterButton {
  color: red;
  background-color: #0e3b43;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  width: 50px;
  border-color: black;
  padding: 10px;
}

.addHamsterButton {
  color: white;
  background-color: #0e3b43;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2em;
  list-style-type: none;
  margin: auto;
}
.myHamster {
  color: white;
  padding-top: 25px;
  padding-bottom: 10px;
  border: 2px solid gray;
  height: auto;
  width: 100%;
  background-color: #357266;
}

.myHamster img {
  width: 160px;
}

.hamsterInput {
  padding: 25px;
}
