.App {
  text-align: center;
  align-items: center;
}

/* Bilder */

.Header-logo {
  width: 900px;
  height: auto;
}

.hamsterLogo {
  width: 25%;
}

nav {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Knappar */

a {
  color: white;
  font-size: 25px;
  padding: 5px 25px;
  background-color: #0e3b43;
  border: solid 1.5px black;
  text-decoration: none;
  border-radius: 50px;
  margin: 20px;
  cursor: pointer;
}

.battleButton {
  border-style: none;
  width: 200px;
  height: 30px;
  background-color: #0e3b43;
  color: white;
  position: relative;
  margin-top: 2em;
  left: 80%;
  border: solid black 2.5px;
}

.addHamsterButton {
  color: white;
  font-size: 25px;
  padding: 5px 25px;
  background-color: #0e3b43;
  border: solid 1.5px black;
  text-decoration: none;
  border-radius: 50px;
  margin: 20px;
  cursor: pointer;
}

.removeHamsterButton {
  color: red;
  background-color: #0e3b43;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  width: 50px;
  border-color: black;
  padding: 10px;
  cursor: pointer;
}

.voteButton {
  color: white;
  font-size: 15px;
  padding: 5px 25px;
  background-color: #0e3b43;
  border: solid 1.5px black;
  border-radius: 50px;
  margin: 20px;
  cursor: pointer;
}

a:hover,
.battleButton:hover,
.removeHamsterButton:hover,
.addHamsterButton:hover,
.voteButton:hover {
  background-color: #357266;
  border: solid 1.5px white;
}

a:active,
.battleButton:active,
.removeHamsterButton:active,
.addHamsterButton:active,
.voteButton:active {
  background-color: #0e3b43;
}

.addHamsterButton:disabled,
.addHamsterButton[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.start {
  color: white;
  padding-top: 25px;
  padding-bottom: 10px;
  border: 2px solid gray;
  height: auto;
  width: auto;
  background-color: #357266;
}

.sign {
  font-style: italic;
  font-size: 12px;
}

/* Inputfält */

input[type='text'] {
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid 1.5px black;
  background-color: #357266;
  color: white;
}

input[type='number'] {
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid 1.5px black;
  background-color: #357266;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.error {
  color: white;
}

/* Galleri */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 2em;
  list-style-type: none;
  margin: auto;
}
.myHamster {
  color: white;
  padding-top: 25px;
  padding-bottom: 10px;
  border: 2px solid gray;
  height: auto;
  width: 100%;
  background-color: #357266;
}

.myBestHamster {
  color: white;
  height: auto;
  background-color: #357266;
}

.myHamster img {
  width: 160px;
}

.myHamsterImg {
  width: 180px;
}

/* Spela */

.battleWrapper {
  padding-bottom: 80px;
}

.battle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}

.warrior1 {
  grid-column: 1/2;
  grid-row: 1/4;
  text-align: center;
  background-color: #357266;
  border: solid black 5px;
  color: white;
  font-variant-caps: small-caps;
}

.warrior1:hover {
  background-color: #0e3b43;
  border: solid white 5px;
}

.warrior2 {
  grid-column: 2/4;
  grid-row: 1/4;
  text-align: center;
  background-color: #357266;
  border: solid black 5px;
  color: white;
  font-variant-caps: small-caps;
}

.warrior2:hover {
  background-color: #0e3b43;
  border: solid white 5px;
}

.winningWarrior {
  grid-column: 1/2;
  grid-row: 1/4;
  text-align: center;
  background-color: #006400;
  border: solid black 5px;
  color: white;
  font-variant-caps: small-caps;
}

.loserWarrior {
  grid-column: 2/4;
  grid-row: 1/4;
  text-align: center;
  background-color: #8b0000;
  border: solid black 5px;
  color: white;
  font-variant-caps: small-caps;
  opacity: 0.5;
}
